.footer {
    text-align: center;
    padding: 1rem;
    background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
    color: white;
    position: relative;
  }
  
  .footer-icons {
    display: flex;
    gap: 1rem;
    margin-top: 0.5rem;
    justify-content: center;
  }
  
  .footer-icon {
    width: 24px;
    height: 24px;
    color: white; /* Change as per your theme */
    transition: transform 0.3s, color 0.3s;
  }
  
  .footer-icon:hover {
    transform: scale(1.2);
    color: #fc0000; /* Pinkish hover effect */
  }
  
  
  .footer-icon:hover {
    transform: scale(1.1);
  }
  